
body, html {
    height: 100%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.admin-links {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.no-bullets {
    list-style-type: none;
}

.fa-search{
    color: white;
    font-size: 20px !important;
}

.fa-search:hover{
    cursor: pointer;
}
.search-bar {
    float: right;
    overflow: hidden;
    height: 40px;
    /*display: none !important;*/
}
.fa-user{
    font-size: 20px !important;
}
.fa-user:hover {
    cursor: pointer;
}

.fa-shopping-cart{
    font-size: 20px !important;
}