a{
    color: white;
} 
a:hover {
    color: #cfcfcf !important;
}

.image-title span{
    color: #424242;
}

.image-description {
    color: #424242;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}

    .gallery-wrap .img-small-wrap img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 4px;
        cursor: zoom-in;
    }

.product-image {
    width: 150px;
}

.product-text {
    font-family: Arial;
    font-size: 13px;
    /*color: #009ED9;*/
    display: table-cell;
    padding: 30px;
    vertical-align: middle;
    position: relative;
    /*right: 30%;*/
}

.tbl-header {
    height: 60px;
}

.carousel-img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    width: 100%;
}

.carousel-inner {
    width: 1100px;
    height: 500px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    /*background-image: none;*/
}

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 40px;
        color: rgba(0, 0, 0, 0.5);
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 40px;
        color: rgba(0, 0, 0, 0.5);
    }

.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
    background-color: #000000;
}

.product-box {
    height: 200px;
}
