@{
    ViewBag.Title = "About";
}
<div class="container mt-lg-5">
    <div class="row mt-lg-5 text-center">
        <h3 class="m-auto">About</h3>
    </div>
    <hr />
    <div class="p-lg-5">
        <p>
            This site is made to showcase my abilities as a developer. Development started July 2018.
            I built this as part of my portfolio. This site is meant to be made outside of my day job.
        </p>
        <br />
        <h4>Technology Used:</h4>
                <p>
                    ASP.Net MVC 5<br />
                    C#, MS SQL<br />
                    Javascript, HTML5, CSS3, JQuery, Bootstrap 4
                </p>

        <h4>Admin Features:</h4>
        <ul>
            <li>Add Products</li>
            <li>Add Cagetories</li>
            <li>Add Subcategories</li>
            <li>Add/Update/Delete Customer(s)</li>
            <li>Add Images to a product</li>
            <li>Set a price, quantity</li>
            <li>Add to Cart</li>
            <li>Process real payment to Paypal (currently configured to redirect users to Sandbox(fake payment process)</li>
            <li>Process Orders</li>
            <li><strong>Dashboard</strong> pages</li>
            <li>Reports: Display total Orders, Total Revenue</li>
            <li>Record accumulated orders per user</li>
            <li>List of products</li>
            <li>Manage Users/Customers/Orders/Products</li>
            <li>Quest payment enabled. No need to register.</li>
            <li>Registration enabled</li>
            <li>Responsive</li>
        </ul>
        <br />
        <h4>User Control Panel:</h4>
        <ul>
            <li>View purchase history</li>
            <li>View total spent</li>
            <li>View/Update Account Details</li>
        </ul>
        <br />
        <h4>Currently implementing:</h4>
        <ul>
            <li>Line Graph with Javascript - Data Analysis based on orders</li>
            <li>Email users once purchase is made</li>
            <li>Export CSV - products/users/customers</li>
            <li><span class="text-danger">Online Users</span> total</li>
            <li>Comments section</li>
            <li>Contact page with form</li>
            <li>Search Feature</li>
        </ul>
        <h4>Github Profile</h4>
        <p>Source Code: <a class="text-info" href="https://github.com/robmars123/MiniStore_Ecom">https://github.com/robmars123/MiniStore_Ecom</a></p>
    </div>
</div>
