@{
    ViewBag.Title = "Contact";
}
<div class="container mt-lg-5">
    <div class="row mt-lg-5">
        <h3 class="m-auto">Contact</h3><br />
    </div>
    <div class="row mt-lg-5 p-lg-5">
        <p class="m-auto">
            <strong>Email:</strong>   <a href="mailto:robmars2008@gmail.com">robmars2008@gmail.com</a><br />
        </p>
    </div>
</div>

