
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="admin-links">
        <ul>
            <li class="no-bullets">@Html.ActionLink("Products", "Index", "Products")</li>
            <li class="no-bullets">@Html.ActionLink("Categories", "Index", "Categories")</li>
            <li class="no-bullets">@Html.ActionLink("Subcategories", "Index", "Subcategories")</li>
        </ul>

    </div>
    <div class="admin-links">
        @*<ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>*@

    </div>
</div>

